<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trinity_college_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Trinity_college_application"
        tools:targetApi="31">
        <activity
            android:name=".open_events"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Upcoming_events_activity"
            android:exported="true"
            android:parentActivityName=".Events_options" />
        <activity
            android:name=".open_news"
            android:exported="true"
            android:parentActivityName=".News_activity" />
        <activity
            android:name=".Previous_yrs_events"
            android:exported="true"
            android:parentActivityName=".Events_options" />
        <activity
            android:name=".Events_options"
            android:exported="true"
            android:parentActivityName=".Home_page" />
        <activity
            android:name=".Edit_Admins"
            android:exported="true"
            android:parentActivityName=".Admin_options" />
        <activity
            android:name=".News_Admin"
            android:exported="true"
            android:parentActivityName=".Admin_options" />
        <activity
            android:name=".Admin_options"
            android:exported="true"
            android:parentActivityName=".Home_page" />
        <activity
            android:name=".News_activity"
            android:exported="true"
            android:parentActivityName=".Home_page" />
        <activity
            android:name=".Event_Admin"
            android:exported="true"
            android:parentActivityName=".Admin_options" />
        <activity
            android:name=".Login_page"
            android:exported="true"
            android:parentActivityName=".Home_page" />
        <activity
            android:name=".Home_page"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".Events_options" />
    </application>

</manifest>